body {
  background-color: bisque;
}
#item {
  padding: 10px 15px;
  font-size: 100%;
}

.pick {
  margin: 100px 300px 0px 300px;
  padding: 15px 50px;
  border: 2px solid red;
  border-radius: 20px;
}
